.landing-page {
  max-width: 1100px;
  margin: 40px auto;
  padding: 26px 18px;
}
.landing-page input[type="text"] {
  width: 60%;
  margin-bottom: 14px;
  padding: 7px 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1.05em;
}
.landing-page select {
  margin-left: 16px;
  padding: 7px 12px;
  border-radius: 5px;
  background-color: BurlyWood;
  border-color: white;
  color: white;


}
.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 28px;
  margin-top: 20px;
}
